@page "/authors"
@using BlazorApp.Shared 
@inject HttpClient Http

@if (authors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Authors</MudText>
        <MudGrid Class="mt-8">
            @foreach (var author in authors)
            {
                
                <MudItem xs="12" sm="6" md="4">

                    <MudCard>
                        <MudCardMedia Image="@author.PhotoUrl" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@author.Name</MudText>           
                           
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Quotes by Author</MudButton>
                         
                        </MudCardActions>
                    </MudCard>

                </MudItem>
            }

        </MudGrid>
    </MudContainer>
}

@code {
    private Quote[] quotes = new Quote[]{};
    private IEnumerable<Author> authors;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            quotes = await Http.GetFromJsonAsync<Quote[]>("/api/GetQuotes") ?? new Quote[] { };
            authors = quotes.Select(q => q.Author).DistinctBy(a => a.Name);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
