@page "/books"
@using BlazorApp.Shared
@inject HttpClient Http

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Books</MudText>
        <MudGrid Class="mt-8">
            @foreach (var book in books)
            {
                <MudItem xs="12" sm="6" md="4">

                    <MudCard>
                        <MudCardMedia Image="@book.CoverUrl" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@book.Title</MudText>
                            <MudText Typo="Typo.body2">@book.Author</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Quotes by book</MudButton>

                        </MudCardActions>
                    </MudCard>

                </MudItem>
            }

        </MudGrid>
    </MudContainer>
}

@code {

    private Quote[] quotes = new Quote[] { };
    private IEnumerable<Book> books;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            quotes = await Http.GetFromJsonAsync<Quote[]>("/api/GetQuotes") ?? new Quote[] { };
            books = quotes.Select(q => q.Book).DistinctBy(b => b.Title);


        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
