@page "/books"
@using BlazorApp.Shared 
@inject HttpClient Http



@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Books</MudText>
        <MudGrid Class="mt-8">
            @foreach (var book in books)
            {
                <MudItem xs="12" sm="6" md="4">

                    <MudCard>
                        <MudCardContent>
                            <MudText>@book.AuthorName</MudText>
                           
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Quotes by author</MudButton>
                        </MudCardActions>
                    </MudCard>

                </MudItem>
            }

        </MudGrid>
    </MudContainer>
}

@code {
    private Book[] books = new Book[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            books = await Http.GetFromJsonAsync<Book[]>("/api/GetBooks") ?? new Book[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
