@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Quotes</h1>

@if (quotes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Quote</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var quote in quotes)
            {
                <tr>
                    <td>@quote.Body</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Quote[] quotes = new Quote[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            quotes = await Http.GetFromJsonAsync<Quote[]>("/api/GetQuotes") ?? new Quote[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
